@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');



:root{
    --primary-color: #31AFB4;
    --secundary-color: #115571;
    --grey-color: #717377;
    --light-grey-color: #F7F7F7;
    --white-color: #fff;
    --black-color: #000;
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
  }
  @-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }


html,body,*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
  width: 100vw;
  overflow-x: hidden;

  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

a{
    text-decoration: unset;
}

ul{
    list-style-type: unset;
}
body{
    opacity:0;
    -webkit-animation: fadeIn 500ms linear;
    -moz-animation: fadeIn 500ms linear;
    -o-animation: fadeIn 500ms linear;
    animation: fadeIn 500ms linear; 
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    -o-animation-fill-mode:forwards;
    animation-fill-mode:forwards;
}

header{
 background-image: url("../imgs/newsite/banner-site.png");
  background-repeat: no-repeat;
  background-position: center 65px;
}