@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
*{
  font-family: 'Roboto', sans-serif;
}

:root{
  --primary-color: #31AFB4;
  --secundary-color: #115571;
  --dark-color: #22292F;
  --grey-color: #717377;
  --light-grey-color: #F7F7F7;
  --white-color: #fff;
  --black-color: #000;
}

@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; } 
  }
  @-moz-keyframes fadeIn {
  0% { opacity: 0;}
  100% { opacity: 1; }
  }
  @-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  }
  @keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
  } 



.project-container ::-webkit-scrollbar {
  display: none;
}

.project-container {
  position: relative;
  margin: 0 0;
  padding: 0 0;
  width: auto;
  height: auto;
  padding: 0 30px;
}
.display-none{
  display: none;
}
.project-container-row{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  width: auto;
  overflow-x: scroll;
  scroll-behavior: smooth;

}
.project-container .project-card{
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: center;
  align-items: center;

  min-height: 425px;
  min-width: 400px;

  overflow: hidden;

  margin: 10px 10px;
  background: #fff;

  box-shadow: 0 0 8px var(--dark-color);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}
.project-container .project-card h5 {
  color: var(--primary-color);
  margin: 10px 10px;
  font-size: 22px;
}

p{
  color: var(--dark-color);
}
.project-container .project-card-body{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  padding: 0 30px;
}

.project-container .project-card img{
  width: 400px;
}
.project-container .project-card a{
  text-decoration: none;
  color: var(--white-color);
  background: var(--primary-color);

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100px;
  height: 40px;

  margin: 12px;


  transition: background color .2s;
}

.project-container .project-card a:hover{
filter: brightness(80%);
}


.project-container .project-card .project-card-body .card-buttons{
  position: absolute;
  bottom: 4px;
  left: 0;

  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}

.project-container .project-card .project-card-body .card-buttons .inative{
  color: #fff;
  background: var(--secundary-color);
  cursor: not-allowed;
  border: 1px solid #6d6d6d;
}


.arrow-icon-container-left{
  position: absolute;
  margin-left: 20px;
  margin-top: 150px;

  z-index: 1;
  display: flex;
  justify-content: space-between;
  display: none;

  height: auto;
  background: rgba(255,255,255,0);
  cursor: pointer;

  opacity:0;
  -webkit-animation: fadeIn 500ms linear;
  -moz-animation: fadeIn 500ms linear;
  -o-animation: fadeIn 500ms linear;
  animation: fadeIn 500ms linear; 
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  -o-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

}

.arrow-icon-container-right{
  position: absolute;
  right: 20px;
  margin-top: 150px;

  z-index: 1;
  display: flex;
  justify-content: space-between;

  opacity:0;
  -webkit-animation: fadeIn 500ms linear;
  -moz-animation: fadeIn 500ms linear;
  -o-animation: fadeIn 500ms linear;
  animation: fadeIn 500ms linear; 
  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  -o-animation-fill-mode:forwards;
  animation-fill-mode:forwards;


  height: auto;
  background: rgba(255,255,255,0);
  cursor: pointer;

}

.arrow-icon-container .arrow-icon-background{
  display: flex;
  align-items: center;
  justify-content: space-between;

  text-decoration: unset;

  padding: 0 8px;

  height: 85px;
  width: 75px;
  cursor: pointer;

  background: rgba(255,255,255,.8);
  border: 6px solid var(--primary-color);
  border-radius: 50%;

  transition: filter .2s;
}

.arrow-icon-container .arrow-icon-background:hover{
  filter: brightness(120%);
}
.arrow-icon-container .arrow-icon-left {
  margin: 10px 10px;

  width: 20px;
  height: 20px;

  background: rgba(255,255,255,0);

  border-bottom: 5px solid var(--primary-color);
  border-right: 5px solid var(--primary-color);
  transform: rotate(135deg);

} 

.arrow-icon-container .arrow-icon-right {
  margin: 10px 10px;

  width: 20px;
  height: 20px;

  background: rgba(255,255,255,0);

  border-bottom: 5px solid var(--primary-color);
  border-right: 5px solid var(--primary-color);
  transform: rotate(-45deg);

} 

@media screen and (max-width:350px){
  .project-container .project-card{
    min-width: 270px!important;
    min-height: 320px!important;
  }  

  .project-container .project-card p{
    display: none;
  }
  
  .project-container {

    padding: 0 10px;
  }
}
@media screen and (max-width:635px){
  .project-container .project-card{
    min-width: 350px;
  }
  .project-container {

    padding: 0 10px;
  }
}
@media screen and (max-width:980px){


  .arrow-icon-container-left,.arrow-icon-container-right{

    display: none;
    
  }
  
}