@import url('https://fonts.googleapis.com/css?family=Comfortaa|Dancing+Script:400,500&display=swap');


html,body, #main{
    height: 100%;
    scroll-behavior: smooth;
}

body{
    background-image: url(../imgs/bg-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: Helvetica,Arial, sans-serif;
}
#main-banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mouse-icon{
    position: relative;
    width: 35px;
    height: 45px;
    border: 2px solid #fff;
    border-radius: 50px;
}
#mouse-icon:after{
    position: absolute;
    top: 15px;
    width: 5px;
    height: 5px;
    content: '';
    background: #fff;
    left: calc(45% - 0px);
    border-radius: 50%;
    animation: mouse 2s infinite;
}

@keyframes mouse{
    0%{
        opacity: 1;
        top: 10px;
    }
    100%{
        opacity: 0;
        top: 20px;
    }
}

#box-scroll-indicator{ 
    transform: translate( -50%, -50%);
}

#box-scroll-indicator span{
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
    margin: -5px -10px;
    animation: animate 2s infinite;
}

#box-scroll-indicator span:nth-child(2){
    animation-delay: -0.2s;
}
#box-scroll-indicator span:nth-child(1){
    animation-delay: -0.4s;
}

@keyframes animate{
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px -20px);

    }

    50%{

        opacity: 1;

    }

    100%{

        opacity: 0;
        transform: rotate(45deg) translate(20px 20px);
    }
}
nav.navbar-transparent{
    background: rgba(0,0,0,0.6);
    padding: 15px 0;
}

.navbar-light .navbar-nav .nav-link{
color: #fff;
font-family: 'Dancing Script', cursive;
font-size: 1.5em;
}
.navbar-light .navbar-nav .nav-link:hover{
color: #919496;
}

.navbar-light .navbar-toggler {
    color:  rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.5);
}

.divisor {
    width: 1px;
    background: #fff;
    margin: 12px 15px;
}

#sign{
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
}
#sign:hover{
    color: #919496;
}
#main{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: #fff;
    background: rgba(0,0,0,0.4);
    
}

#about, #techs{
    background: #fff;
    padding: 20px 10px;
}

.section-text{
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
}
#about-img{
    border-radius: 50%;
    overflow: hidden;
    width: 350px;
    height: 350px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.dev-icon{
    margin: 5px 5px;
    
}
article{
    font-family: 'Comfortaa', cursive;
    font-size: .95em;
}

#projects{
    width: 100%;
    color: white;
    background: rgba(0,0,0,0.4);
    padding: 5px 40px;
}
.bg-card{
    color: #919496;
    margin: 10px 0;
    background:rgba(255,255,255,.9);
}
.card-carousel-style{
    width: 60%; 
    margin: 5px 240px;
}
.card-display{
    weight: 200;
}
.dev-icon-about{
    color: rgba(0,0,0,0.8);
}

#contact{
    color: #fff;
    background: rgba(0,0,0,0.4);
}

/* // Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px){ 
    html{
        overflow-x: hidden;
    }
    body{
    background-image: url(../imgs/bg-1-mobile.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    font-family: Helvetica,Arial, sans-serif;
}
nav.navbar-transparent{
    background: rgba(0,0,0,0.6);
    padding: 15px 20px;
}

#about{
    display: flex; 
}
#about p{
    padding: 0px 20px;
}

#about-img{
    border-radius: 50%;
    overflow: hidden;
    width: 250px;
    height: 250px;
    margin: 10px 115px;
    justify-content: center; 
    align-items: center; 
}
.card-carousel-style{
    width:75%;
    margin: 0px 0px;
}
 }

/* // Small devices (landscape phones, less than 768px) */
@media screen and (max-width: 767.98px){ 
    html{
        overflow-x: hidden;
    }
    body{
        background-image: url(../imgs/bg-1-mobile.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        
        font-family: Helvetica,Arial, sans-serif;
    }
  
    #about{
        display: flex; 
    }
    #about p{
        padding: 0px 20px;
    }
    
    #about-img{
        border-radius: 50%;
        overflow: hidden;
        width: 250px;
        height: 250px;
        margin: 10px 115px;
        justify-content: center; 
        align-items: center; 
    }

    .card-carousel-style{
        width:75%;
        margin: 0px 60px;
    }

    
}

/* // Medium devices (tablets, less than 992px) */
@media screen and (max-width: 991.98px){ 
html{
    overflow-x: hidden;
}
body{
    background-image: url(../imgs/bg-1-ipad.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    font-family: Helvetica,Arial, sans-serif;
}

#about-img{
    border-radius: 50%;
    overflow: hidden;
    width: 250px;
    height: 250px;
}

.card-carousel-style{
    width:75%;
    margin: 0px 85px;
}

}
/* // Large devices (desktops, less than 1200px) */
@media screen and (max-width: 1199.98px){ 
    html{
        overflow-x: hidden;
    }
}
/* Devices Width's */

@media (max-device-width: 480px){ 
html,body, #main{
    height: 100%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-image: url(../imgs/bg-2-mobile.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    font-family: Helvetica,Arial, sans-serif;
}
nav.navbar-transparent{
    background: rgba(0,0,0,0.6);
    padding: 5px 20px;
}
#sign{
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 1.7em;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}
#about{
    display: flex; 
    flex-direction: column;
}
#about p{
    width: 315px;
}
#about-img{
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: 10px 100px;
    justify-content: center; 
    align-items: center; 
}
.card-carousel-style{
    width:70%;

    margin: 0px 50px;
} 
#projects .card-text{
    display: none;
}
#projects .card-title{
    font-size: 1.2em;
    text-align: center;
}
#projects .card-body a{
    display: inline;
    font-size: .8em;
}
#techs i{
    font-size: 3em;
}
#contact i{
    font-size: 2.5em;
    margin: 0 -10px;
}
#contact h1{
    margin: 0 50px;
}
#contact form{
    margin: 0 10px;
}
#contact form button{
    margin: 0 15px;
}
}
/* // Small devices (landscape phones, less than 768px) */
@media (max-device-width: 767.98px){ 
    html,body, #main{
        height: 100%;
        scroll-behavior: smooth;
        overflow-x: hidden;
    }
    body{
        background-image: url(../imgs/bg-3-mobile.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        
        font-family: Helvetica,Arial, sans-serif;
    }
    nav.navbar-transparent{
        background: rgba(0,0,0,0.6);
        padding: 5px 20px;
    }
    #sign{
        color: #fff;
        font-family: 'Dancing Script', cursive;
        font-size: 2.2em;
    }
    .navbar-light .navbar-nav .nav-link{
        color: #fff;
        font-family: 'Dancing Script', cursive;
        font-size: 1.5em;
    }
    #about{
        display: flex; 
        flex-direction: column;
    }
    #about p{
        width: 650px;
        margin: 5px -50px;
    }
    #about-img{
        border-radius: 50%;
        overflow: hidden;
        width: 200px;
        height: 200px;
        margin: 10px 150px;
        justify-content: center; 
        align-items: center; 
    }
    .card-carousel-style{
        width:70%;
    
        margin: 0px 74px;
    } 
    #projects .card-text{
        display: none;
    }
    #projects .card-title{
        font-size: 1.2em;
        text-align: center;
    }
    #projects .card-body a{
        display: inline;
        font-size: .8em;
    }
    #techs i{
        font-size: 3em;
    }
    #contact i{
        font-size: 2.5em;
        margin: 0 -10px;
    }
    #contact h1{
        margin: 0 50px;
    }
    #contact form{
        margin: 0 10px;
    }
    #contact form button{
        margin: 0 15px;
    }
}
/* // Large devices (desktops, less than 1200px) */
@media (max-device-width: 1199.98px){ 
    html{
        overflow-x: hidden;
        font-size: 1.1em;
    }
    body{
        background-image: url(../imgs/bg-1-ipad.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        
        font-family: Helvetica,Arial, sans-serif;
    }
    
    #about-img{
        border-radius: 50%;
        overflow: hidden;
        width: 250px;
        height: 250px;
    }
    
    .card-carousel-style{
        width:75%;
        margin: 0px 85px;
    }
}