@import url('https://fonts.googleapis.com/css?family=Comfortaa|Dancing+Script:400,500&display=swap');


html,body, #main{
    height: 100%;
}

body{
    background-image: url(../imgs/bg-1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    font-family: Helvetica,Arial, sans-serif;
}

nav.navbar-transparent{
    background: rgba(0,0,0,0.6);
    padding: 15px 0;
}

.navbar-light .navbar-nav .nav-link{
color: #fff;
font-family: 'Dancing Script', cursive;
font-size: 1.5em;
}
.navbar-light .navbar-nav .nav-link:hover{
color: #919496;
}

.navbar-light .navbar-toggler {
    color:  rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.5);
}

.divisor {
    width: 1px;
    background: #fff;
    margin: 12px 15px;
}

#sign{
    color: #fff;
    font-family: 'Dancing Script', cursive;
    font-size: 2.5em;
}
#sign:hover{
    color: #919496;
}
#main{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: #fff;
    background: rgba(0,0,0,0.4);
    
}

#about{
    background: #fff;
    padding: 20px 10px;
}
.section-text{
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
}
#about-img{
    border-radius: 50%;
    overflow: hidden;
    width: 350px;
    height: 350px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.dev-icon{
    margin: 5px 5px;
}
article{
    font-family: 'Comfortaa', cursive;
    font-size: .95em;
}

#projects{
    color: white;
    background: rgba(0,0,0,0.4);
}
.bg-card{
    color: #919496;
    margin: 10px 0;
    background:rgba(255,255,255,.9);
}
.dev-icon-about{
    color: rgba(0,0,0,0.8);
}
/* .btn-custom{
    color: #919496;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s ,color 0.4s;
    padding: 10px 20px;
    margin: 5px;
} */